@media (max-width:750px) {

    .container {
        flex-direction: column;
        width: 300px;
        height: auto;
    }

    .container .image {
        width: 375px;
    }

    .content {
        padding: 30px;
        text-align: justify;
    }

    .content h1 {
        font-size: 1.7rem;
        max-width: 100%;
    }

}