body {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: hsl(212, 23%, 69%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    /* width: 80%; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(210, 46%, 95%);
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 1px 5px 20px #000;
}

.container .image {
    min-width: 300px;
    min-height: 300px;
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left left;
}

.container .content {
    padding-inline: 50px;
}

.container .content h1 {
    max-width: 450px;
    color: hsl(217, 19%, 35%);
}

.container .content p {
    max-width: 380px;
    margin-top: 20px;
    line-height: 20px;
    text-align: justify;
    color: hsl(214, 17%, 51%);
}

.container .content .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.container .content .author-info .author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .content .author-info .share-button {
    position: relative;
    background-color: hsl(180, 6%, 84%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .content .author-info .share-button:hover {
    background-color: hsl(212, 23%, 69%);
}

.container .content .author-info .share-button .tooltip {
    /* visibility: hidden; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -60px;
    left: -80px;
    width: 200px;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    transition: 0.3s
}

.container .content .author-info .share-button .tooltip::after {
    content: '';
    position: absolute;
    bottom: -19%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
}

.container .content .author-info .share-button .tooltip img {
    margin-left: 10px;
}

.container .content .author-info .author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container .content .author-info .author strong {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.container .content .author-info .author span {
    display: block;
    margin-top: 5px;
    color: hsl(212, 23%, 69%);
}